.task-card {
    background: #ffffff;
    margin-top: 10px;
    border-radius: 4px;
}

.todos-title {
    display: flex;
}
.card {
    background: none;
}

.task-card-body{
    background: #ffffff;
}
